<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unityextensions.nativeimagepicker">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".NativeImagePickerActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
    </application>

</manifest>
